
<div class="mh-post-Ans_Hint">
    <section class="mh-tabs">
        <input id="mh-tab-3" type="radio" name="radio-set-2" class="mh-tab-selector-1" checked="checked" />
        <label for="mh-tab-3" class="mh-tab-label-1">Trả lời câu hỏi</label>

        <input id="mh-tab-4" type="radio" name="radio-set-2" class="mh-tab-selector-2" />
        <label for="mh-tab-4" class="mh-tab-2 mh-tab-label-2">Gợi ý trả lời</label>

        <div class="clear-shadow"></div>

        <div class="mh-tab-content">
            <div class="mh-tab-content-1">
                <form>
                    <div class="mh-ckeditor ">
                            <textarea name="editor1" id="editor1" rows="10" cols="80">
                                Trả lời câu hỏi
                            </textarea>
                    </div>
                    <div class="mh-post-Ans_Hint-button">
                        <button type="submit" class="btn btn-success btn-lg">Đăng câu trả lời</button>
                    </div>
                </form>
            </div>
            <div class="mh-tab-content-2">
                <form>
                    <div class="mh-ckeditor ">
                            <textarea name="editor2" id="editor2" rows="10" cols="80">
                                Gợi ý trả lời
                            </textarea>
                    </div>
                    <div class="mh-post-Ans_Hint-button">
                        <button type="submit" class="btn btn-success btn-lg">Đăng gợi ý</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div><!-- mh-post-Ans_Hint": end -->
