@using CP_MathHub.Entity
<div class="mh-post-Ans_Hint">
    <section class="mh-tabs">
        <input id="mh-tab-3" type="radio" name="radio-set-2" class="mh-tab-selector-1" checked="checked" />
        <label for="mh-tab-3" class="mh-tab-label-1">Trả lời câu hỏi</label>

        <input id="mh-tab-4" type="radio" name="radio-set-2" class="mh-tab-selector-2" />
        <label for="mh-tab-4" class="mh-tab-2 mh-tab-label-2">Gợi ý trả lời</label>

        <div class="clear-shadow"></div>

        <div class="mh-tab-content">
            <div class="mh-tab-content-1">
                @using (Html.BeginForm("AnswerQuestion", "Question", FormMethod.Post)){
                
                    <div class="mh-ckeditor ">
                            <textarea class="editor" name="content" id="editor1" rows="10" cols="80" placeholder="Trả lời câu hỏi">
                            </textarea>
                        <input type="hidden" name="type" value="@AnswerEnum.Answer" />
                        <input type="hidden" name="questionId" value="@ViewData["QuestionId"]" />
                    </div>
                    <div class="mh-post-Ans_Hint-button">
                        <button type="submit" class="btn btn-success btn-lg">Đăng câu trả lời</button>
                    </div>
                }
            </div>
            <div class="mh-tab-content-2">
               @using (Html.BeginForm("AnswerQuestion", "Question", FormMethod.Post))
               {
                    <div class="mh-ckeditor ">
                        <textarea class="editor" name="content" id="editor2" rows="10" cols="80" placeholder="Gợi ý câu trả lời">
                        </textarea>
                        <input type="hidden" name="type" value="@AnswerEnum.Hint" />
                        <input type="hidden" name="questionId" value="@ViewData["QuestionId"]" />
                    </div>
                    <div class="mh-post-Ans_Hint-button">
                        <button type="submit" class="btn btn-success btn-lg">Đăng gợi ý</button>
                    </div>
                }
            </div>
        </div>
    </section>
</div><!-- mh-post-Ans_Hint": end -->
