@model int

<div class="col-xs-1 col-sm-1 col-md-1 mh-vote">
    <div>
        <i class="fa fa-chevron-up mh-vote-icon" title="Câu hỏi này hay, rõ ràng và giúp ích"></i>
    </div>
    <div>
        <span class="mh-vote-num">@Model</span>
    </div>
    <div>
        <i class="fa fa-chevron-down mh-vote-icon mh-vote-down" title="Câu hỏi này không hay, không rõ ràng và không giúp ích"></i>
    </div>
    @{
        switch (ViewData["Check"].ToString())
        {
            case "accepted":
                <div>
                    <i class="fa fa-check mh-check-icon mh-checked" title="Câu trả lời này giải quyết được vấn đề của tác giả"></i>
                </div>
                break;
            case "check":
                <div>
                    <i class="fa fa-check mh-check-icon" title="Câu trả lời này giải quyết được vấn đề của tác giả"></i>
                </div>
                break;
            default:
                break;
        }
    }
</div>
