@model List<DiscussionEditedLogViewModel>
@using CP_MathHub.Models.Discussion
@using CP_MathHub.Core.Configuration
@using CP_MathHub.Service.Helpers
@{
    ViewBag.Title = "";
    ViewBag.MhPage = Constant.String.DiscussionDetailPage;
    ViewBag.CreatedDateType = "đăng";
}
@foreach (DiscussionEditedLogViewModel m in Model)
{
    <div class="mh-top-content">
        <div class="row">
            <div class="col-md-10 mh-content-title">
                <h3>@m.Content</h3>
                <h3>@m.CreatedDate.ToString()</h3>
            </div>
        </div>
    </div>
}
<input id="system" type="hidden" value="@ViewBag.System" />
<input id="mh-page" type="hidden" value="@ViewBag.MhPage" />
