@{
    ViewBag.Title = "Home Page";
    ViewBag.MhPage = "home";
}
<div class="row">
    <div class="col-lg-4 mh-home-link">
        <a href="@Url.Action("Index", "Question")">
            <div>
                <span class="mh-home-title">Hỏi Đáp</span>
                <img src="~/Content/img/Question_Answer.png" class="mh-home-image" />
            </div>
        </a>
    </div>
    <div class="col-lg-4 mh-home-link">
        <a href="@Url.Action("Index", "Blog")">
            <div>
                <span class="mh-home-title">Bài Viết</span>
                <img src="~/Content/img/blog.png" class="mh-home-image" />
            </div>
        </a>
    </div>
    <div class="col-lg-4 mh-home-link">
        <a href="#">
            <div>
                <span class="mh-home-title">Thảo Luận</span>
                <img src="~/Content/img/discussion.png" class="mh-home-image" />
            </div>
        </a>
    </div>
</div>