@using CP_MathHub.Entity
@model List<User>

@foreach (User item in Model)
{
    <div class="media mh-profile-friend">
        <div class="media-left">
            <a href="#">
                <img class="mh-image-user-profile" src="~/Content/img/user-icon.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading">@item.UserName</h5>
            <span>đang theo dõi bạn</span>
        </div>
        <div class="media-right">
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-check"></i>
                    Bạn bè
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
}

