@using CP_MathHub.Entity
@model List<User>

@foreach (User item in Model)
{
    <div class="media mh-profile-friend">
        <div class="media-left">
            <a href="#">
                <img class="mh-image-user-profile" src="~/Content/img/user-icon.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <span>Bạn đang theo dõi</span>
            <h5 class="media-heading">@item.UserName</h5>
            <button type="button" class="btn btn-default mh-profile-follow_unfollow-button">
                <i class="fa fa-check"></i>
                Bỏ theo dõi
            </button>
        </div>
        <div class="media-right">
            <!-- Single button -->
            <div class="btn-group">
                <a href="@Url.Action("CancelFriendInUserPage", new {targetUserId = item.Id, tab = "follower" })" class="btn btn-default">
                    <i class="fa fa-user-plus"></i>
                    Hủy kết bạn
                </a>
                <!--<ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>-->
            </div>
        </div>
    </div>
}

