@using CP_MathHub.Entity
@using CP_MathHub.Models.Account
@model List<UserItemViewModel>
@foreach (UserItemViewModel item in Model)
{
    <div class="row mh-request-friend-row">
        <div class="col-xs-7 media">
            <div class="media-left">
                <a href="#">
                    <img src="~/Content/img/user.jpg" alt="..." class="mh-user-image">
                </a>
            </div>
            <div class="media-body">
                <a>
                    <span class="media-heading mh-request-user-name">@item.User.UserName</span>
                </a><br />
                <span>Đang sinh sống tại: @(item.User.Profile.Address != null ? item.User.Profile.Address : "Không có thông tin")</span>
            </div>
        </div>
        <div class="col-xs-5 mh-request-friend-button">
                <a href="@Url.Action("AcceptFriendRequest", new { targetUserId = item.User.Id, tab="receiverequest", returnPage="Friend" })" class="btn btn-primary mh-request-button">Chấp nhận</a>
                <a href="@Url.Action("CancelFriend", new { targetUserId = item.User.Id, tab = "receiverequest", returnPage="Friend"})" class="btn btn-default mh-request-button">Xóa yêu cầu</a>       
        </div>
    </div>
}
