@using CP_MathHub.Entity
@model List<Question>

@foreach (Question item in Model)
{

    <div>
        <i class="fa fa-square"></i>
        @*Bạn đã hỏi:*@
        <a href="@Url.Action("Detail", "Question", new { id = item.Id})">@item.Title</a><br />
        <span class="mh-profile-time">@Html.PostCreatedTime(item.CreatedDate, "")</span>
    </div>      
}