<div class="mh-table-info">
    <div class="mh-table-info-title">Hoạt động</div>
    <div class="mh-table-info-body">
        <a href="#">
            <div class="row mh-table-info-row">
                <div class="col-sm-9 col-md-9 mh-table-info-body-letter">
                    Inbox
                </div>
                <div class="col-sm-3 col-md-3 mh-table-info-num">
                    <span class="badge mh-num-icon">42</span>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row mh-table-info-row">
                <div class="col-sm-9 col-md-9 mh-table-info-body-letter">
                    Inbox
                </div>
                <div class="col-sm-3 col-md-3 mh-table-info-num">
                    <span class="badge mh-num-icon">42</span>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row mh-table-info-row">
                <div class="col-sm-9 col-md-9 mh-table-info-body-letter">
                    Inbox
                </div>
                <div class="col-sm-3 col-md-3 mh-table-info-num">
                    <span class="badge mh-num-icon">42</span>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="mh-table-info">
    <div class="mh-table-info-title">Tags yêu thích</div>
    <div class="mh-table-info-body">
        <ul class="list-inline mh-list-tags mh-list-tags-left">
            <li>
                <a href="#" class="mh-tag">
                    <i class="fa fa-circle"></i>
                    <label>Lớp 6</label>
                </a>
            </li>
            <li>
                <a href="#" class="mh-tag">
                    <i class="fa fa-circle"></i>
                    <label>Toán đố</label>
                </a>
            </li>
            <li>
                <a href="#" class="mh-tag">
                    <i class="fa fa-circle"></i>
                    <label>Toán dễ</label>
                </a>
            </li>
            <li>
                <a href="#" class="mh-tag">
                    <i class="fa fa-circle"></i>
                    <label>Toán khó</label>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="mh-table-info">
    <div class="mh-table-info-title">Theo dõi</div>
    <div class="mh-table-info-body">
        <a href="#">
            <div class="row mh-table-info-row">
                <div class="col-sm-3 col-md-3">
                    <img src="~/Content/img/user.jpg" class="mh-user-icon">
                </div>
                <div class="col-sm-6 col-md-6 mh-table-info-body-letter">
                    Inbox
                </div>
                <div class="col-sm-3 col-md-3 mh-table-info-num">
                    <span class="badge mh-num-icon">42</span>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row mh-table-info-row">
                <div class="col-sm-3 col-md-3">
                    <img src="~/Content/img/user.jpg" class="mh-user-icon">
                </div>
                <div class="col-sm-6 col-md-6 mh-table-info-body-letter">
                    Inbox
                </div>
                <div class="col-sm-3 col-md-3 mh-table-info-num">
                    <span class="badge mh-num-icon">42</span>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row mh-table-info-row">
                <div class="col-sm-3 col-md-3">
                    <img src="~/Content/img/user.jpg" class="mh-user-icon">
                </div>
                <div class="col-sm-6 col-md-6 mh-table-info-body-letter">
                    Inbox
                </div>
                <div class="col-sm-3 col-md-3 mh-table-info-num">
                    <span class="badge mh-num-icon">42</span>
                </div>
            </div>
        </a>
    </div>
</div>
