@using CP_MathHub.Entity
@using CP_MathHub.Service.Helpers

<div class="dropdown mh-posts-setting">
    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Chỉnh sửa hoặc xóa">
        <i class="fa fa-chevron-down mh-commet-edit"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a data-toggle="modal" data-target="#report-post-@ViewData["PostId"]">
                Báo cáo vi phạm
            </a>
        </li>
            @switch ((string)@ViewData["PostType"])
            {
                case "question":
                    break;
                case "mainpost":
                    <li><a href="#">Chỉnh sửa bài viết</a></li>
                    <li><a href="">Đóng bài viết</a></li>
                    <li><a href="">Xóa bài viết</a></li>
                    break;
                case "comment":
                    <li><a href="#">Chỉnh sửa</a></li>
                    <li><a href="">Xóa</a></li>
                    break;
                default:
                    break;
            }
    </ul>
    <div class="mh-violate-report">
        <!-- Modal: start -->
        <div id="report-post-@ViewData["PostId"]" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <form id="report-form-@ViewData["PostId"]">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Báo cáo vi phạm</h4>
                        </div>
                        <div class="modal-body">
                            <div class="mh-radio">
                                @Html.RadioListForReporttypeEnum("reportName", (string)ViewData["PostType"])
                            </div>
                            <div class="mh-report-cause">
                                <label>Mô tả:</label><br />
                                <input type="text" name="description" placeholder="Nhập mô tả..." />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="postId" value="@ViewData["PostId"]" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" onclick="sendReport(@ViewData["PostId"])" data-dismiss="modal">Gửi báo cáo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- Modal: end -->
    </div>
</div>

