<div class="mh-banner">
    <a href="#">
        <img src="Content/img/CTV.jpg">
    </a>
</div>
<div class="mh-btn">
    <a href="#" class="btn btn-success">Đặt câu hỏi</a>
</div>
<div class="panel panel-info mh-panel-recommend">
    <div class="panel-heading">Các thảo luận <span class="mh-hot">hot<span></div>
    <div class="panel-body mh-panel-recommend-body">
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Tại sao con số 0 lại là 1 phát minh vĩ đại?
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Tại sao con số 0 lại là 1 phát minh vĩ đại?
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Tại sao con số 0 lại là 1 phát minh vĩ đại?
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="panel panel-info mh-panel-recommend">
    <div class="panel-heading">Các bài viết <span class="mh-hot">hot</span></div>
    <div class="panel-body mh-panel-recommend-body">
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Định lí Pytago và áp dụng vào bài toán thực tế!
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Định lí Pytago và áp dụng vào bài toán thực tế!
                    </div>
                </div>
            </a>
        </div>
        <div class="mh-panel-recommend-row">
            <a href="#">
                <div class="row">
                    <div class="col-md-1 mh-panel-recommend-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="col-md-11 mh-panel-recommend-title">
                        Định lí Pytago và áp dụng vào bài toán thực tế!
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
