@using CP_MathHub.Models.Admin
@model RulesViewModel
@{
    ViewBag.Title = "ManageRulesView";
    Layout = "~/Views/Admin/Layouts/_AdminLayout.cshtml";
}
<section class="wrapper">
    <!-- table: start -->
    <h3>Quản lý các quy định</h3>
    <section class="panel">
        <div class="panel-body">
            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">

                        <button id="editable-sample_new" class="btn green" data-toggle="modal" data-target="#create">
                            Tạo quy định mới <i class="icon-plus"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                               @Html.Partial("Partials/RuleCreatePartialView", Model.CreateRule)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space15"></div>
                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên quy định</th>
                            <th>Miêu tả</th>
                            <th>Hình phạt</th>
                            <th>Chỉnh sửa</th>
                            @*<th>Xóa</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("Partials/ManageRulePartialView", Model.Items)
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- table: end -->
</section>
<input id="mh-page" type="hidden" value="@ViewBag.Page" />

