

<div>
    <a href="#">
        <div class="media">
            <div class="media-left">
                <img src="~/Content/img/user.jpg" alt="..." class="mh-user-image">
            </div>
            <div class="media-body">
                <span class="media-heading">User</span>
                <span class="mh-notifi-content"> đã trả lời câu hỏi của bạn: Tại sao đường tròn lại tập hợp một chuỗi các đường thẳng?</span><br />
                <span class="mh-time">58 phút trước</span>
            </div>
        </div>
    </a>
</div>
