@model CP_MathHub.Models.Common.UserHeaderViewModel
<ul class="nav navbar-nav navbar-right" id="mh-nav-user">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            @Model.Username
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </li>
    <li><a href="#"><img class="mh-user-icon" alt="User Icon" src="~/Content/img/user.jpg" /></a></li>
</ul>
