/* Top menu: start */
#mh-header  {
	background-color: #0055A5;
}
#mh-nav-link > li > a:hover {
    background-color: #033462;
    border: #033462;
    color: #fff !important;
}
.mh-notification > li.dropdown > a {
    color: #033462;
}
.mh-notification > li.dropdown > a:hover, .mh-notification > li.dropdown > a:focus {
    color: #fff;
    background-color: #0055A5;
}
.mh-notification > li.open > a {
	color: #fff !important;
    background-color: #0055A5 !important;
}
#mh-nav-user > li.open > a {
	color: #fff !important;
    background-color: #0055A5 !important;
}
.mh-navbar-toggle:hover, .mh-navbar-toggle:focus  {
	background-color: #0873D7 !important;
}
.mh-active > a {
	background-color: #033462 !important;
    border: #033462 !important;
}
.mh-notification > li > a > .badge {
	background-color: #EC2424;
	color: #FFFFFF;
}
/* Top menu: end */
/*Body: start*/
	/* Mid: start */
.mh-content-title {
	margin: 10px 0px;
	text-align: right;
}
.mh-content-title > a {
	font-weight: bolder;
}
.mh-content-title > .btn.btn-default{
	margin: 5px 0;
}
.mh-home > .row {
	border-bottom: 1px solid #C1C1C1;
}	
.mh-home-button {
	font-size: 14pt;
}
.mh-home .mh-home-tab {
	margin-top: 12px;
}
.mh-home .mh-page-search {
	margin-bottom: 0px;
}
.mh-grid-body {
	padding: 5px;
}
.mh-grid-body > .row {
	margin: 0px;
}
/* Home Blog*/
.mh-grid-contents {
  border: 1px solid #ccc;
  height: 321px;
  width: 200px;
  padding: 8px;
  margin-right: 8px;
  position: relative;
  margin-top: 10px;
}
/*	
.mh-grid-contents:nth-child(3n) {
  margin-right: 0px;
}
*/
.mh-grid-contents .title {
	font-size: 14pt;
	font-weight: bold;
	min-height: 54px;
	color: #337ab7;
    padding-right: 0px;
}
.mh-grid-contents > .row> .title > i {
    vertical-align: top;
}
.mh-grid-contents > div > div >a:hover {
	text-decoration: none;
}
.mh-grid-contents .content {
	text-align: justify;
		max-height: 80px;
    overflow: hidden;
}
.mh-grid-contents .readmore {
	text-align: right;
    margin-top: 10px;
}
.mh-grid-contents .blog-footer {
	height: 46px;
	background-color: #EFEDED;
	padding: 8px;
	padding-right: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.mh-grid-contents  .blog-footer > a {
	color: #969696;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
	margin-right: 3px;
	padding-right: 7px;
	display: inline-block;
	font-size: 11px;
	background: url(../img/line_boxIcon.gif) no-repeat right;
	border-right: 1px dotted silver;
	text-align: center;
}
.mh-grid-contents  .blog-footer > a:last-child {
	border-right: 0px !important;
	padding-right: 0px;
}
.mh-grid-contents  .blog-footer > a   i {
	font-size: 16px;
	text-shadow: 0px 1px 0px #fff;
	margin-right: 3px;
	vertical-align: baseline;
}
.mh-grid-contents  .blog-footer > a:hover {
	text-decoration: none;
	color: #000;
}
/* khung user blog: start */
.mh-blog-user {
	margin-bottom: 7px;
}
.mh-blog-user > .mh-row-time{
	padding: 0 15px;
	font-size: 8pt;
	color: #A9A9A9;
	padding: 5px 30px 0px 15px;
}
.mh-blog-user > .mh-row-info	> .user{
	padding-left: 0px;
	font-size: 9pt;
	margin-top: 1px;
}
/* khung user blog: end */
/* Home Blog: end*/
/*Page view: start*/
.mh-page-view {
	margin-top: 20px;
	text-align: right;
}
.mh-page-view > button:hover, .mh-page-view > button.active {
	color: #00aaf1;
}
/*Page view: end*/
/* Show List: start */
.mh-list-content {
	margin: 15px 0;
}
.mh-list-content > div{
  border: 1px solid #ccc;
  padding: 15px;
}
.mh-list-content > .blog-footer{
  border-top: 0px;
  padding: 5px 15px;
}
.mh-list-content .title {
	font-size: 17pt;
	font-weight: bold;
	color: #337ab7;
    padding-right: 0px;
}	
.mh-list-content > div > .row > div > a:hover {
	text-decoration: none;
}
.mh-list-content .content {
	text-align: justify;
	font-size: 13pt;
}
.mh-list-content  .readmore {
	text-align: right;
}
.mh-list-content  .blog-footer {
	background-color: #EFEDED;
	width: 100%;
	margin: 0px;
}
.mh-list-content .blog-footer > div >  a {
	color: #969696;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
	margin-right: 3px;
	padding-right: 7px;
	display: inline-block;
	font-size: 11px;
	background: url(../img/line_boxIcon.gif) no-repeat right;
	border-right: 1px dotted silver;
	text-align: center;
    vertical-align: middle;
}
.mh-list-content .blog-footer > div > a:last-child {
	border-right: 0px !important;
	padding-right: 0px;
}
.mh-list-content  .blog-footer > div > a   i {
	font-size: 16px;
	text-shadow: 0px 1px 0px #fff;
	margin-right: 3px;
	vertical-align: baseline;
}
.mh-list-content  .blog-footer > div > a:hover {
	text-decoration: none;
	color: #000;
}
.mh-list-content  .blog-footer > .col-xs-12.col-md-5{ 
	padding: 0px;
	padding-top: 12px;
}
.mh-list-content  .blog-footer > .mh-blog-tags {
	text-align: right;
	padding: 0px;
}
.mh-list-content  .blog-footer > .mh-blog-tags > ul {
	margin-top: 10px;
}
.mh-list-content .mh-blog-user > .mh-row-time {
	font-size: 10pt;
	color: #A9A9A9;
	padding: 5px 30px 0px 15px
}
.mh-list-content .mh-blog-user > .mh-row-info > .user {
	padding-left: 0px;
	font-size: 11pt;
	margin-top: 5px;
}
.mh-list-content .mh-blog-user {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mh-list-content> div> .row> .title > i {
    font-size: 15pt;
  vertical-align: top;
}
.mh-blog-tags .mh-tag {
	margin-bottom: 5px;
}
.mh-blog-tags > ul > li {
	margin-bottom: 5px;
}
/* Show List: end */
/* Detail BLog: start */
.mh-show-detail-content {
	margin: 15px 0;
}
.mh-show-detail-content > div{
  border: 1px solid #ccc;
  padding: 15px;
}
.mh-show-detail-content > .blog-footer{
  border-top: 0px;
  padding: 5px 15px;
}
.mh-show-detail-content .title {
	font-size: 17pt;
	font-weight: bold;
	color: #337ab7;
}	
.mh-show-detail-content > div > .row > div > a:hover {
	text-decoration: none;
}
.mh-show-detail-content .content {
	text-align: justify;
	font-size: 13pt;
}
.mh-show-detail-content  .readmore {
	text-align: right;
}
.mh-show-detail-content  .blog-footer {
	background-color: #EFEDED;
	width: 100%;
	margin: 0px;
    margin-bottom: -1px;
}
.mh-show-detail-content .blog-footer > div >  a {
	color: #969696;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
	margin-right: 3px;
	padding-right: 7px;
	display: inline-block;
	font-size: 11px;
	background: url(../img/line_boxIcon.gif) no-repeat right;
	border-right: 1px dotted silver;
	text-align: center;
    vertical-align: middle;
}
.mh-show-detail-content .blog-footer > div > a:last-child {
	border-right: 0px !important;
	padding-right: 0px;
}
.mh-show-detail-content  .blog-footer > div > a   i {
	font-size: 16px;
	text-shadow: 0px 1px 0px #fff;
	margin-right: 3px;
	vertical-align: baseline;
}
.mh-show-detail-content  .blog-footer > div > a:hover {
	text-decoration: none;
	color: #000;
}
.mh-show-detail-content  .blog-footer > .col-xs-12.col-md-5{ 
	padding: 0px;
	padding-top: 12px;
}
.mh-show-detail-content .blog-footer > .mh-blog-tags {
	text-align: right;
	padding: 0px;
}
.mh-show-detail-content  .blog-footer > .mh-blog-tags > ul {
	margin-top: 10px;
}
.mh-show-detail-content .mh-blog-user > .mh-row-time {
	font-size: 10pt;
	color: #A9A9A9;
	padding: 5px 30px 0px 15px
}
.mh-show-detail-content .mh-blog-user > .mh-row-info > .user {
	padding-left: 0px;
	font-size: 11pt;
	margin-top: 5px;
}
.mh-show-detail-content .mh-blog-user {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mh-show-detail-content> div> .row> .title > i {
    font-size: 15pt;
  vertical-align: top;
}
.mh-pre-comment {
      margin-bottom: -1px;
}
/* Detail BLog: end */
.mh-body-content-mid  .row {
	margin: 20px 0px;
}
.mh-body-content-mid  .row > .mh-blog-choice-title, .mh-body-content-mid  .row > .mh-blog-choice {
	padding: 0;
}
.mh-create-privacy .col-md-5.col-lg-4.col-sm-6, .mh-create-privacy .col-md-7.col-lg-8.col-sm-6, .mh-create-day .col-md-5.col-lg-4.col-sm-6, .mh-create-day .col-md-7.col-lg-8.col-sm-6 {
    padding: 0px;
}
.mh-list-content .mh-comment-like:hover {
    text-decoration: none;
}
.mh-list-content > div {
    margin-top: -1px;
}
	/* Mid: end */	
/*Body: end*/
footer { 
	background-color: #0A0B71;
}