@{
    ViewBag.Title = "Xác nhận email";
}

<div class="mh-body-page">
    <h2>Chào mừng bạn đến với MathHub!</h2>
    <div>
        <p>
            Cảm ơn bạn đã xác nhận email. Xin vui lòng nhấn @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để đăng nhập vào hệ thống.
        </p>
    </div>
</div>
@section styles {
    <link href="~/Content/img/favicon.ico" rel="shorcut icon" type="image/x-icon" />
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
}
@section scripts{
}