@{
    ViewBag.Title = "Xác nhận tài khoản";
}
<div class="mh-body-page">
    <h2>@ViewBag.Title.</h2>
    @*<p class="text-info">*@
    <p>
        Vui lòng kiểm tra email và xác nhận tài khoản. Nếu hộp thư đến không có email, vui lòng kiểm tra hộp thư spam.
    </p>
</div>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
@section styles {
    <link href="~/Content/img/favicon.ico" rel="shorcut icon" type="image/x-icon" />
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
}
@section scripts{
}