/*
Author: HaiNNT
Created Date: 2015-06-16
*/
body {
    background: #eff3f8;
}

.panel-info > .panel-footer {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-footer {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-success > .panel-footer {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#mh-header {
	background-color: brown;
}

#mh-nav-link > li > a {
	color: #fff;
	font-size: 12pt;
}

#mh-nav-link > li > a:hover {
    background-color: #752B20;
    border: #752B20;
    color: #fff !important;
}


#mh-logo {
    width: 169px;
    margin-top: -5px;
}

#mh-nav-link {

}

.mh-navbar-toggle {
	border-color: #fff !important;
}

.mh-navbar-toggle:hover, .mh-navbar-toggle:focus  {
	background-color: #D45F4D !important;
}

.navbar-default .mh-navbar-toggle .icon-bar {
    background-color: #fff;
}

.mh-notification > li.dropdown > a {
    color: #752B20;
    padding: 13px 10px;
    font-size: 17pt;
}


.mh-notification > li.dropdown > a:hover, .mh-notification > li.dropdown > a:focus {
    color: #fff;
    background-color: brown;
}

 .mh-notification > li.open > a {
	color: #fff !important;
    background-color: brown !important;
}

.mh-active > a {
	background-color: #752B20 !important;
    border: #752B20 !important;
}

.dropdown-menu {
	background-color: #F5F5F5;
}
.navbar-right {
	margin-right: -5px;
}
#mh-nav-user > li > a {
    padding: 10px 0px 10px 5px;
}

#mh-nav-user > li:first-child > a {
	color: #fff;
	font-weight: bold;
	padding: 15px 5px 15px 10px;
}

#mh-nav-user > li.open > a {
	color: #fff !important;
    background-color: brown !important;
}

.mh-user-icon {
    width: 30px;
    height: 30px;
	border: 1px solid silver;
}

#mh-search-header{
	position: relative;
}

#mh-search-header i {
    position: absolute;
    top: 32%;
    right: 25px
}

.mh-body {
	margin-top: 50px;
	background-color: #fff;
	border-right: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
}

.mh-left-section {
	padding-top: 20px;
	padding-bottom: 10px;
}

.mh-mid-section {
	border-right: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
}
.mh-right-section {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Mid: start*/
.mh-content-title > h3 {
	margin-top: 15px;
	font-weight: bolder;
}

.mh-mid-section > .mh-top-content > .row {
	border-bottom: 1px solid #C1C1C1;
}
.mh-page-search {
	margin-top: 10px;
	margin-bottom: 5px;
}
.mh-home-tab {
	margin-top: 10px;
	text-align: left;
	padding-right: 15px;
}

.mh-home-tab > a{
	margin-bottom: 5px;
}

.mh-question-preview {
	margin-top: 5px;
}

.mh-question-preview > .panel-heading > div > a {
	width: 40px;
	float: left;
    margin: 0px 10px;
}

.mh-user-avatar {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.mh-question-preview > .panel-heading > div {
	position: relative;
}

.mh-question-preview > .panel-heading > div > div {
    width: 70%;
	float: left;
}

.mh-question-preview > .panel-heading > div > i {
    position: absolute;
    top: 25%;
    left: 90%;
    font-size: 15pt;
}

.mh-question-preview > .panel-body > div {
    padding-left: 15px;
    padding-right: 15px;
}

.mh-question-preview > .panel-body > div > .mh-info {
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	padding:0;
	text-align: center;
	margin-bottom: 5px;
}

.mh-question-preview > .panel-body > div > .mh-info > div {
	padding: 5px 0px;
}

.mh-question-preview > .panel-body > div > .mh-info h2 {
	margin: 0px;
}

.mh-question-preview > .panel-body > div > .mh-info .mh-answer-num {
    width: 84%;
    margin-left: 8%;
    background-color: #FCD7A3;
}

.mh-question-preview > .panel-body > div > .mh-info .mh-sm-answer-num {
    background-color: #FCD7A3;
}

.mh-question-preview > .panel-body > div > .mh-info .mh-answer-num > h2 {
	margin: 0px;
	text-align: center;
}

.mh-question-preview > .panel-body > div > .mh-content {
	max-height: 190px;
	overflow-y: hidden;
}

.mh-question-preview > .panel-body > div > .mh-content > a {
	font-size: 17pt;
}

.mh-question-preview > .panel-body > div > .mh-content > a:hover {
	text-decoration: none;
}

.mh-bookmark-icon {
	color: #C4C4C4;
}

.mh-bookmarked-icon {
	color: #FFD252;
}

.mh-question-preview .mh-username {
	font-size: 12pt;
}

.mh-time {
	font-size: 10pt;
	color: #A9A9A9
}

.mh-reputation-icon {
	color: #FFD252;
}

.mh-tag {
	padding: 2px 5px;
    background-color: #0DBBC2;
    color: #fff !important;
    border-radius: 3px;
    position: relative;
}

.mh-tag > i{
    font-size: 9px;
    position: absolute;
    top: 5px;
}

.mh-tag > span {
	margin-left: 15px;
}

.mh-tag:hover, .mh-tag:focus {
	text-decoration: none !important;
	background-color: #1BA9AE !important;
	color: #fff !important;
}

 .mh-list-tags {
 	margin: 0px;
 	padding: 0px;
 }

 .mh-list-tags > i {
 	color: #17A8EC;
 }

.mh-list-tags li{
	margin-bottom: 5px;
}

.mh-list-tags-right {
	text-align: right;
}

.mh-list-tags-left {
	text-align: left;
}
 /* QA detail: start */
 .mh-vote {
	padding: 0px;
	text-align: center;
 }
 .mh-vote a {
	color: grey;
 }
 .mh-vote a:hover {
	color: black;
 }
.mh-vote-icon {
	font-size: 25pt;
}
.mh-check-icon {
	font-size: 25pt;
	padding-top: 10px;
}
.mh-vote-num {
	font-size: 20pt;
}
.mh-vote-down {
	margin-top: -5px;
}
.mh-content-detail {
	max-height: none;
	overflow-y: auto;
	text-align: justify;
}
.mh-question-preview > .panel-body > div > .mh-content-detail  > a {
	font-size: 17pt;
	font-weight: bolder;
}

.mh-question-preview > .panel-body > div > .mh-content-detail  > a:hover {
	text-decoration: none;
}
.mh-comment-content {
	padding: 5px 0px;
	border-bottom: 1px solid silver;
}
.panel-body.mh-comment > .mh-comment-detail {
	padding: 5px 20px;
	background-color: ghostwhite;
}
.mh-rely {
	padding:0 10px;
}
.mh-rely-detail {
	padding:0 10px;
	border-left: 2px solid #dcdee3;
}
.mh-rely-rely {
	margin-top: 10px;
	width: 90%;
}
.mh-answer_hint-content {
	padding-bottom: 10px;
}
.mh-answer_hint-content-row {
	border-bottom: 1px solid silver;
}
.mh-answer_hint-detail {
}
.mh-answer_hint-detail-content {
}
.mh-form-input-comment {
	margin-top: 5px;
	width: 100%;
}
.mh-answer-avatar {
	padding: 0;
}
.mh-answer-username {
	padding: 0;
}
.mh-answer_hint-user_info {
	border-bottom: 1px solid silver;
	padding-bottom: 5px;
	padding-left: 20px;
}
.mh-post-Ans_Hint {
	/* margin: 15px;
	text-align: center; */
}
		/* css: tab */
.mh-tabs {
    position: relative;
	margin: 40px auto;
}

.mh-tabs > input {
	position: absolute;
	z-index: 1000;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.mh-tabs input.mh-tab-2{
	left: 120px;
}

.mh-tabs label {
	background: white;
	background: -moz-linear-gradient(top, #white 0%, #4e8c8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#white), color-stop(100%,#4e8c8a));
	background: -webkit-linear-gradient(top, #white 0%,#4e8c8a 100%);
	background: -o-linear-gradient(top, #white 0%,#4e8c8a 100%);
	background: -ms-linear-gradient(top, #white 0%,#4e8c8a 100%);
	background: linear-gradient(top, #white 0%,#4e8c8a 100%);
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
    float: left;
	display: block;
	color: #385c5b;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    /* box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1); */
	cursor: pointer;
}

.mh-tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.mh-tabs input:hover + label {
	background: #EEEEEE;
}

.mh-tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.mh-tab-label-2 {
    z-index: 3;
}

.mh-tabs input:checked + label {
    background: whitesmoke;
	z-index: 6;
	border: 1px solid silver;
}

.clear-shadow {
	clear: both;
}

.mh-tab-content {
    background: #fff;
	position: relative;
    width: 100%;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
	border: 1px solid silver;
	margin-top: -6px;
}

.mh-tab-content > div {
	top: 0;
	left: 0;
	padding: 15px 20px;
	z-index: 1;
    display: none;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.mh-tabs input.mh-tab-selector-1:checked ~ .mh-tab-content .mh-tab-content-1,
.mh-tabs input.mh-tab-selector-2:checked ~ .mh-tab-content .mh-tab-content-2{
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    display: block;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}

.mh-tab-content div h2,
.mh-tab-content div h3{
	color: #398080;
}
.mh-tab-content div p {
	line-height: 22px;
	text-align: left;
	margin: 0;
	padding-left: 15px;
	/*font-size: 14px;
	font-style: italic;
	color: #777;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);*/
}
			/* css: tab */

.mh-post-Ans_Hint-button {
	margin-top: 10px;
	text-align: center;
}
 /* QA detail: end */
 /*  QA create: start */
 .mh-body-title {
	margin-top: 25px;
 }
 .mh-body-createQuestion-label {
	font-weight: bolder;
	font-size: 14pt;
 }
 .mh-input-question {
    width: 100%;
    height: 40px;
    font-size: 14pt;
    font-weight: bolder;
    margin-bottom: 20px;
    border: 1px solid;
	padding-left: 10px;
 }
 
  .mh-input-question > div {
	display: table-cell;
  }
 
  .mh-input-question > div > input {
	border: 0px;
    margin-left: 5px;
    margin-top: 3px;
	width: 100%;
  }
  
  .mh-input-question > div > input:focus {
	outline: none;
  }
 
 .mh-preview {
	margin-top:10px;
	margin-bottom: 10px;
 }
 .mh-input-tags {
	font-weight: normal;
 }
 .mh-preview-button {
	width: 100%;
	font-size: 15pt;
	border-radius: 4px 4px 0 0;
 }
 .mh-input-tagFriend {
	font-weight: normal;
 }
 .mh-CreateQuestion-button {
	width: 230px;
	margin-right: 9px;
	margin-bottom: 15px;
 }
 .mh-body-button {
	text-align: right;
 }
 .mh-preview-content {
	border: 1px solid #46b8da;
	padding: 15px;
	font-size: 13pt;
	text-align: justify;
	background-color: #E5F2FF;
	display: none;	
 }
 
 .mh-tag-item {
    margin-right: 5px;
    font-size: 11pt;
    background-color: #0DBBC2;
    padding: 5px;
    color: #fff;
 }
 
  .mh-tag-item  > span {
	margin-right: 5px;
  }
  
  .mh-tag-item  > i:hover {
	color: #B91B1B;
    cursor: pointer;
  }
  
  #mh-tag-autocomplete-list {
	padding: 0;
    margin: 0;
    background-color: #F1F9F8;
    width: 25%;
    border: 1px solid;
    position: absolute;
    top: 71px;
	display: none;
  }
  
  #mh-tag-autocomplete-list > li {
	list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid;
    margin-bottom: -1px;
  }
  
   #mh-tag-autocomplete-list > li > label {
	color: #3271FF;
   }
  
   #mh-tag-autocomplete-list > li > span {
	display: none;
   }
  
  /*  QA create: end */
  
  /* QA User: start */
 .mh-body-content-mid {
	padding-top: 20px;
}
.mh-body-tabs {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 15px;
}
.mh-body-tabs > ul> li{
	float: right;
}
.mh-body-tabs > ul> li.active > a{
	background-color: #fff;
	color: #222;
	border-top: 2px solid #FF9900;	
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.mh-body-tabs > ul> li.active > a:hover{
	background-color: #fff;
	color: #000;
	
}
.mh-body-tabs > ul> li > a{
	color: #777;
	border-radius: 0px;
	font-size: 10pt;
	margin-left:8px;
	padding: 5px 10px;
	margin-bottom: -1px;
	z-index: 5;
}
.mh-body-tabs  > ul> li > a:hover {
	background-color: #fff;
	border-top: 2px solid #FF9900;	
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.mh-body-search {
	margin-bottom: 15px;
}
.mh-user-image {
	width: 60px;
	height: 60px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.mh-body-detail > .row {
	padding: 0 15px;
}
.mh-body-detail-image {
	padding-right: 0;
}
.mh-body-detail-info {
	padding-left: 0;
	color: #888;
}
.mh-body-detail-info a {
	color: #07c;
}
.mh-body-detail-info a:hover {
	color: #30a7fc;
	text-decoration: none;
}
.mh-user-item {
	float: left;
	width: 230px;
	margin-bottom: 10px;
	height: 80px;
}
.mh-search-title{
	float: left;
	margin-left: 15px;
	height: 34px;
	padding-top: 5px;
}

.mh-search-control {
	float: left;
	width: 240px;
	margin-left: 15px;
}
  /* QA User: end */
  /* QA Tag: start */
.mh-tag-page {
	padding: 7px;
	float: left;
	width: 226px;
	height: 103px;
	color: #888;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: rgb(234, 240, 245);
}
.mh-tag-name {
	padding-bottom: 3px;
}
.mh-tag-content {
	height: 54px;
	overflow-y: hidden;
	  font-size: 10pt;
}
.mh-tag-times {
	font-size: 9pt;
	color: #444;
}
  /* QA Tag: end */
/* Mid: end */

/* Left: start */

.mh-profile {
	/*margin: 0px;*/
}

.mh-profile > a {
	width: 60px;
	float: left;
	margin-left: 10%;
}

.mh-profile > div {
	width: 50%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.mh-profile > div > a {
	font-size: 15pt;
}

.mh-profile > div > div > span {
	font-size: 11pt;
}

.mh-profile img {
	width: 60px;
	height: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.mh-table-info a {
	text-decoration: none;
	color: black;
	font-weight: normal;
}
.mh-table-info a:hover {
	
}
.mh-table-info {
	padding: 10px;
	margin: 10px 0;
}
.mh-table-info-title {
	font-weight: bolder;
}
.mh-table-info-body {
	padding-left: 20px;
    padding-top: 5px;
}
.mh-table-info-body-letter {
	margin-top: 5px;
}
.mh-table-info-row{
	padding-bottom: 5px;
}
.mh-num-icon {
	background-color: #F43E3E;
	font-size: 10px;
}

/* Left: end */

/* Right: start */

.mh-right-section a {
	text-decoration: none;
}

.mh-banner {
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #bce8f1;
	border-radius: 5px;
}

.mh-banner a, .mh-banner img {
	width: 100%;
}

.mh-btn {
	margin: 0 0 20px 0;
}
.mh-btn a {
	width: 100%;
	font-size: 15pt;
}

.mh-panel-recommend-body {
	padding: 5px 10px;
	text-align: justify;
}

.mh-panel-recommend .panel-heading .mh-hot {
	color: #ff0000;
	font-weight: bold;
	text-transform: uppercase;
}

.mh-panel-recommend-row {
	padding: 3px 0px;
}
.mh-panel-recommend-row i {
	font-size: 9pt;
}
.mh-panel-recommend-icon {
	padding-right: 0;
}
.mh-panel-recommend-title {
	padding-left: 10px;
	padding-right: 15px;
}

/* Right: end*/
/*  footer:start */
footer {
	background-color: #710A18;
	margin-top: 30px;
	color: #fff;
}
.mh-footer-info {
	padding-left: 0;
	text-align: justify;
}
.mh-footer-contact {
	padding-right: 0;
	text-align: justify;
}
.mh-footer-social {
	text-align: center;
}
.mh-footer-social a:hover {
	opacity: 0.7;
}
.mh-copyright-content {
	text-align: center;
	padding: 10px;
	font-size: 10pt;
}
/*  footer: end */
