.mh-home > .row {
    border-bottom: 1px solid #C1C1C1;
    margin-top: -5px;
}
.mh-body-profile h3 {
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 0;
    padding-bottom: 5px
}
.mh-body-profile a {
    float: right;
}
.mh-body-profile a:hover {
    text-decoration: none;
}
.mh-profile-info-row {
    border-bottom: 1px solid #C1C1C1;
    margin: 0;
    padding: 8px 0 2px 0;
}
.mh-profile-info-row:last-child {
    border-bottom: 0;
}
.mh-profile-edit {
    display: none;
}
.mh-body-profile .mh-profile-info-row:hover .mh-profile-edit {
    display: block;
}
