.mh-mid-section {
      border-right: 0px;
      margin-right: 0px;
}
.mh-mid-section > .mh-top-content > .row {
      border-bottom: 0px;
}
.mh-left-section {
    padding: 0px;
    margin-top: 60px;
}
.mh-profile-menu-button:hover {
    text-decoration: none; 
}
.mh-profile-menu-div{
    padding: 10px;
    font-size: 12pt;
    color: #678098
}
.mh-profile-menu-div:hover, a.active .mh-profile-menu-div {
    background-color: #F2F6F9;
    color: #5b9bd1;
}
.mh-home > .row {
    border-bottom: 1px solid #C1C1C1;
    margin-top: -5px;
}
.mh-body-profile h3 {
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-weight: bold;
}
.mh-profile-user-info {
    margin-top: 10px;
}
.mh-body-profile a {
    float: right;
}
.mh-profile-info-row .col-xs-5 a {
    float: left;
}
.mh-body-profile a:hover, .mh-body-profile a:focus {
    text-decoration: none;
}
.mh-profile-info-row {
    border-bottom: 1px solid #C1C1C1;
    margin: 0;
    padding: 8px 0 2px 0;
}
form:last-child .mh-profile-info-row {
    border-bottom: 0;
}
.mh-profile-edit, .mh-pass-edit {
    display: none;
}
.mh-body-profile .mh-profile-info-row:hover .mh-profile-edit, .mh-body-profile .mh-profile-info-row:hover .mh-pass-edit {
    display: block;
}
.mh-profile-input-edit {
    display: none;
    padding: 10px 5px;
    height: 23px;
    margin-top: -2px;
}
.mh-profile-save-change{
    display: none;
    padding: 3px 6px;
    float: right;
    margin-top: -4px;
}
.mh-profile-cancel {
    display: none;
    float: right;
    padding: 3px 6px;
    margin-left: 5px;
    margin-top: -4px;
}
.radio-inline {
    display: none;
}
.mh-pass-change {
    display: none;
}
.ui-datepicker {
    z-index: 2000;
}
.mh-profile-select-edit {
    display: none;
}