.mh-mid-section {
      border-right: 0px;
      margin-right: 0px;
}
/*.mh-mid-section > .mh-top-content > .row {
      border-bottom: 0px;
      margin: 0px;
}*/
.mh-left-section {
    padding: 0px;
    margin-top: 60px;
}
.mh-profile-menu-button:hover {
    text-decoration: none; 
}
.mh-profile-menu-div{
    padding: 10px;
    font-size: 12pt;
    color: #678098
}
.mh-profile-menu-div:hover, a.active .mh-profile-menu-div {
    background-color: #F2F6F9;
    color: #5b9bd1;
}
.mh-home > .row {
    /*border-bottom: 1px solid #C1C1C1;*/
    margin-top: -5px;
}
.mh-body-profile {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mh-body-profile h3 {
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-weight: bold;
}
.mh-profile-user-info {
}
.mh-body-profile .mh-profile-info-row .mh-profile-edit-button {
    float: right;
}
.mh-profile-info-row .col-xs-5 a {
    float: left;
}
.mh-body-profile a:hover, .mh-body-profile a:focus {
    text-decoration: none;
}
.mh-profile-info-row {
    border-bottom: 1px solid #C1C1C1;
    margin: 0;
    padding: 8px 0 2px 0;
}
form:last-child .mh-profile-info-row {
    border-bottom: 0;
}
.mh-profile-edit, .mh-pass-edit {
    display: none;
}
.mh-body-profile .mh-profile-info-row:hover .mh-profile-edit, .mh-body-profile .mh-profile-info-row:hover .mh-pass-edit {
    display: block;
}
.mh-profile-input-edit {
    display: none;
    padding: 10px 5px;
    height: 23px;
    margin-top: -2px;
}
.mh-profile-save-change{
    display: none;
    padding: 3px 6px;
    float: right;
    margin-top: -4px;
}
.mh-profile-cancel {
    display: none;
    float: right;
    padding: 3px 6px;
    margin-left: 5px;
    margin-top: -4px;
}
.radio-inline {
    display: none;
}
.mh-pass-change {
    display: none;
}
.ui-datepicker {
    z-index: 2000;
}
.mh-profile-select-edit {
    display: none;
}

/* User friend: start */
.mh-content-top-button {
    text-align: right;
    margin-top: 19px;
    margin-bottom: 10px;
}
.mh-body-profile .tab-content {
    border: 1px solid #DDD;
    border-top: 0;
    padding: 15px;
}
.mh-profile-friend {
    height: 100px;
    min-width: 416px;
    max-width: 447px;
    border: 1px solid #E9EAED;
    float: left;
    margin-left: 15px;
}
.mh-profile-friend .media-body, .mh-profile-friend .media-right {
    vertical-align: middle;
}
.mh-profile-friend .media-body h5 {
    font-weight: bold;
    margin-top: 5px;
}
.mh-profile-friend .media-right .dropdown-menu > li:hover{
    background-color: #ccc;
}
.tab-content .media:first-child {
      margin-top: 15px;
}
.mh-profile-friend .media-right .btn-group {
    margin-right: 5px;
}
.mh-profile-friend .media-body span {
    font-size: 12px;
    color: #ccc;
}
.mh-profile-friend-quantity, .mh-profile-time {
    color: #ccc;
}
.mh-profile-follow_unfollow-button {
    padding: 1px 3px;
}
.tab-pane .mh-request-friend-button {
    margin-top: 28px;
    text-align: right;
}
.tab-pane .mh-request-friend-row {
    padding-bottom: 15px;
    border-bottom: 1px solid #E9EAED;
}
.tab-pane .mh-request-friend-row:last-child {
    border-bottom: 0px;
}
.mh-request-button {
    margin-bottom: 5px;
}
.mh-request-see-more {
    text-align: center;
      border-top: 1px solid #E9EAED;
} 
/*User friend: end*/
/* User activity: start */
.mh-profile-posts {
    max-width: 447px;
    float: left;
    margin:7px 0px 7px 15px;
}
.mh-profile-posts h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.mh-profile-post {
    height: 300px;
    overflow-y: scroll;
}
.mh-profile-tag-favourite {
    margin-left: -10px;
}
.mh-tag-page {
    margin-top: 3px;
    width: 224px;
}
#brands .row {
    margin: 0px;
}
.mh-profile-brand {
    float: left;
    margin-right: 3px;
}
.mh-profile-brand-name {
    font-weight: bold;
    color: #9E21D2;
}
.mh-system-brand {
    margin-top: 40px;
}
.mh-system-brand .row {
    padding: 5px;
}
.mh-profile-activities .mh-profile-activity:hover {
    background-color: #EFF2F5;
}
.mh-profile-activity {
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
}
.mh-profile-activity:last-child {
    padding-bottom: 0px;
    border-bottom: 0;
}
.mh-profile-notifications .mh-profile-notification:hover {
    background-color: #EFF2F5;
}
.mh-profile-notification {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
}
.mh-profile-notification a {
    color: #000;
    font-size: 12px;
}
.mh-profile-notification .media, .tab-content .media:first-child {
    margin-top: 0;
}
.mh-profile-notification .media-heading {
    font-weight: bold;
}
.mh-profile-notification  .mh-time {
    font-size: 12px;
}
.mh-profile-notification:last-child {
    border-bottom: 0px;
}
.mh-profile-chat-users {
    border-right: 1px solid #E9EAED;
}
.mh-profile-chat-details {
    border-left: 1px solid #E9EAED;
    margin-left: -1px;
}
.mh-profile-chat-details .mh-profile-chat-top h4 {
    margin-top: 0px;
    padding-top: 10px;
    font-weight: bold;
}
.mh-profile-chat-top {
    height: 40px;
    border-bottom: 1px solid #E9EAED;
}
.mh-profile-chat-user {
    height: 500px;
    overflow-y: scroll;
}
.mh-profile-chat-user > div {
    padding: 10px 5px;
}
.tab-content  #message .media:first-child {
    margin-top: 0px;
}
.mh-profile-chat-user > div .media {
    margin-top: 0px;
}
.mh-profile-chat-user a {
    color: #000;
}
.mh-profile-chat-user > div:hover, .mh-profile-chat-user > .active {
    background-color: #FF5F5F;
}
.mh-profile-chat-user > div:hover a, .mh-profile-chat-user > .active a {
    color: #fff;
}
.mh-profile-chat-user > div:hover .mh-time, .mh-profile-chat-user > .active .mh-time {
    color: #000;
}
.mh-profile-chat-user .media-heading{
    font-weight: bold;
}
.mh-profile-chat-user .mh-new-message {
    font-size: 10pt;
    color: #5b9bd1;
    float: right;
}
.mh-profile-chat-detail {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}
.mh-profile-chat-detail .media, .media-body {
    overflow: auto;
}
.mh-profile-chat-detail .media-body  .media-heading {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
}
.mh-profile-chat-detail .media-body span {
    font-size: 13px;
}
.mh-profile-chat-detail .media-right {
    font-size: 12px;
    color: #ccc;
}
.mh-profile-chat-detail-divide {
    margin-top: 15px;
    border-top: 1px solid #E9EAED;
    text-align: center;
    font-size: 11px;
}
.mh-profile-chat-detail-divide-time {
    position: relative;
    top: -8px;
    color: #ccc;
    padding: 0 5px;
    background-color: #fff;
}
.mh-profile-chat-footer {
    padding: 10px;
    border-top: 1px solid #E9EAED;
    position: relative;
}
.mh-profile-chat-footer-textarea {
    width: 100%;
    padding: 10px 20px 10px 10px;
}
.mh-profile-chat-footer-smile {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #CBCBCB;
    font-size: 12pt;
}
.mh-profile-chat-footer >  a:hover .mh-profile-chat-footer-smile {
    color: #6E6E6E;
}
/*  User activity: end*/
.tab-pane {
    min-height: 300px;
}