/* Login_register: start */
.mh-body {
    background: #eff3f8;
    border: 0px;
}
.mh-login_register {
    margin: 50px 0px 35px 0px;
    background-color: #e2e2e2;
    padding: 15px;
}
.mh-login_register .tab-content {
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 15px;
    min-height: 450px;
    background-color: #fff;
}
.mh-login_register-with {
    padding: 5px 10px;
    border: 1px solid #ddd;
}
.mh-login_register-with:hover {
    background-color: #F7F7F7;
}
.mh-login_register-with:hover span {
    color: #000;
}
.mh-login_register-with a:hover, .mh-login_register-with a:focus {
    text-decoration: none;
}
.mh-login_register-with i {
    font-size: 24px;
    color: #3a5795;
}
.mh-login_register-with .media-body {
    vertical-align: middle;
}
.mh-login_register-with  span {
    font-size: 14px;
    color: #888;
}
.mh-login_register-mathHub {
    margin-top: 15px;
}
.mh-login_register-mathHub .well{
    border-radius: 0px;
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #fff;
    position: relative;
}
.mh-login-mathHub-username, .mh-login-mathHub-password, .mh-login-mathHub-email {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px 5px 28px;
}
.mh-login-mathHub-username-icon {
    position: absolute;
    top: 31px;
    left: 27px;
    font-size: 20px;
}
.mh-login-mathHub-password-icon {
    position: absolute;
    top: 75px;
    left: 28px;
    font-size: 20px;
}
#register .mh-login-mathHub-password-icon {
    position: absolute;
    top: 119px;
    left: 28px;
    font-size: 20px;
}
#register .mh-login-mathHub-password-icon1 {
    position: absolute;
    bottom: 105px;
    left: 28px;
    font-size: 20px;
}
.mh-login-mathHub-email-icon {
    position: absolute;
    top: 74px;
    left: 25px;
    font-size: 20px;
}
.mh-login_register .nav-tabs li a {
    font-size: 22pt;
}
.mh-login_register-pre-button .row {
    margin-left: 0px;
    margin-right: 0px;
}
.mh-login_register-pre-button .checkbox {
    float: left;
}
.mh-login_register-pre-button .checkbox input {
    cursor: pointer;
}
.mh-login_register-forgot-password {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mh-login-register-button button {
    width: 100%;
}
/* Login_register: end */