USE [master]
GO
/****** Object:  Database [MathHubDatabase]    Script Date: 06/10/2015 10:54:26 ******/
CREATE DATABASE [MathHubDatabase] ON  PRIMARY 
( NAME = N'MathHubDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MathHubDatabase.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MathHubDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MathHubDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MathHubDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MathHubDatabase]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReputationRules]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReputationRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentLike] [int] NOT NULL,
	[QuestionUpVote] [int] NOT NULL,
	[QuestionDownVote] [int] NOT NULL,
	[DiscussionLike] [int] NOT NULL,
	[ArticleLike] [int] NOT NULL,
	[AnswerUpVote] [int] NOT NULL,
	[AnswerDownVote] [int] NOT NULL,
	[AcceptedAnswer] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ReputationRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privileges]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privileges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Score] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_Privileges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Caption] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanReasons]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Duration] [int] NOT NULL,
 CONSTRAINT [PK_BanReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Createddate] [nvarchar](max) NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_Series] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_SeriesGroup] ON [dbo].[Series] 
(
	[GroupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Position] [int] NOT NULL,
	[Image_Id] [int] NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_BannerImage] ON [dbo].[Banners] 
(
	[Image_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisements]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Position] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[ExpiredDate] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[Image_Id] [int] NOT NULL,
 CONSTRAINT [PK_Advertisements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AdvertisementImage] ON [dbo].[Advertisements] 
(
	[Image_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Privilege_Id] [int] NOT NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_PrivilegeFunction] ON [dbo].[Functions] 
(
	[Privilege_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Reputation] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[Avatar_Id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ImageUser] ON [dbo].[Users] 
(
	[Avatar_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFriendships]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFriendships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[TargetUserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[LastChangeStatus] [datetime] NOT NULL,
 CONSTRAINT [PK_UserFriendships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_FriendRequestionUser1] ON [dbo].[UserFriendships] 
(
	[TargetUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_RequestFriend] ON [dbo].[UserFriendships] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CreateTag] ON [dbo].[Tags] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivacySettings]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivacySettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiveEmail] [bit] NOT NULL,
	[SendRequest] [int] NOT NULL,
	[SeenBlog] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_PrivacySettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_PrivacySettingUser] ON [dbo].[PrivacySettings] 
(
	[User_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[Followees_Id] [int] NOT NULL,
	[Followers_Id] [int] NOT NULL,
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[Followees_Id] ASC,
	[Followers_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_Follow_Followee] ON [dbo].[Follow] 
(
	[Followers_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[School] [nvarchar](max) NULL,
	[Birthday] [datetime] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Facebook] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[ViewPoint] [nvarchar](max) NULL,
	[Gender] [int] NULL,
	[Education] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ProfileUser] ON [dbo].[Profiles] 
(
	[User_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileHistories]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Career] [nvarchar](max) NOT NULL,
	[FromTime] [datetime] NOT NULL,
	[ToTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_ProfileHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ProfileHistoryUser] ON [dbo].[ProfileHistories] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivilegeUser]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivilegeUser](
	[Privileges_Id] [int] NOT NULL,
	[Users_Id] [int] NOT NULL,
 CONSTRAINT [PK_PrivilegeUser] PRIMARY KEY CLUSTERED 
(
	[Privileges_Id] ASC,
	[Users_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_PrivilegeUser_User] ON [dbo].[PrivilegeUser] 
(
	[Users_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastEditedDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NULL,
	[VoteUp] [int] NOT NULL,
	[VoteDown] [int] NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_PostUser] ON [dbo].[Posts] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participations]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [int] NOT NULL,
	[JoinedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Participations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ParticipationGroup] ON [dbo].[Participations] 
(
	[GroupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ParticipationUser] ON [dbo].[Participations] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Seen] [bit] NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Setting] [int] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_NotificationUser] ON [dbo].[Notifications] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FunctionRole]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionRole](
	[Functions_Id] [int] NOT NULL,
	[Roles_Id] [int] NOT NULL,
 CONSTRAINT [PK_FunctionRole] PRIMARY KEY CLUSTERED 
(
	[Functions_Id] ASC,
	[Roles_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_FunctionRole_Role] ON [dbo].[FunctionRole] 
(
	[Roles_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JoinedDate] [nvarchar](max) NOT NULL,
	[SeenDate] [datetime] NOT NULL,
	[ConversationId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AttendanceConversation] ON [dbo].[Attendances] 
(
	[ConversationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AttendanceUser] ON [dbo].[Attendances] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssessedDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Assessments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AssessmentRole] ON [dbo].[Assessments] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AssessmentUser] ON [dbo].[Assessments] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastSeenInvitation] [datetime] NOT NULL,
	[LastSeenSubcription] [datetime] NOT NULL,
	[LastSeenNotification] [datetime] NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[LastIp] [nvarchar](max) NOT NULL,
	[LastSeenFriendRequest] [datetime] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_UserActivity] ON [dbo].[Activities] 
(
	[User_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanAccounts]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BannedDate] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[UnBanedDate] [datetime] NOT NULL,
	[BannedUserId] [int] NOT NULL,
	[BanUserId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BanAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_BanAccountUser] ON [dbo].[BanAccounts] 
(
	[BannedUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_UserBanAccount] ON [dbo].[BanAccounts] 
(
	[BanUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscribeGroup]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscribeGroup](
	[SubscribedGroups_Id] [int] NOT NULL,
	[Subscribers_Id] [int] NOT NULL,
 CONSTRAINT [PK_SubscribeGroup] PRIMARY KEY CLUSTERED 
(
	[SubscribedGroups_Id] ASC,
	[Subscribers_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_SubscribeGroup_User] ON [dbo].[SubscribeGroup] 
(
	[Subscribers_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts_Comment]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts_Comment](
	[PostId] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Posts_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CommentPost] ON [dbo].[Posts_Comment] 
(
	[PostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votes]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VotedDate] [datetime] NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Votes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_VotePost] ON [dbo].[Votes] 
(
	[PostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_VoteUser] ON [dbo].[Votes] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanAccountBanReason]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAccountBanReason](
	[BanAccounts_Id] [int] NOT NULL,
	[BanReasons_Id] [int] NOT NULL,
 CONSTRAINT [PK_BanAccountBanReason] PRIMARY KEY CLUSTERED 
(
	[BanAccounts_Id] ASC,
	[BanReasons_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_BanAccountBanReason_BanReason] ON [dbo].[BanAccountBanReason] 
(
	[BanReasons_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[AttendanceId] [int] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_MessageAttendance] ON [dbo].[Messages] 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ZipCode] [nvarchar](max) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Profile_Id] [int] NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_LocationLocation] ON [dbo].[Locations] 
(
	[ParentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_LocationProfile] ON [dbo].[Locations] 
(
	[Profile_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts_MainPost](
	[Title] [nvarchar](max) NOT NULL,
	[View] [int] NOT NULL,
	[Privacy] [int] NOT NULL,
	[LastViewed] [datetime] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Posts_MainPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportedDate] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[ReporterId] [int] NOT NULL,
	[UserId] [int] NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ReportedUser] ON [dbo].[Reports] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ReportPost] ON [dbo].[Reports] 
(
	[PostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ReportUser] ON [dbo].[Reports] 
(
	[ReporterId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteTag]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteTag](
	[FavoriteTags_Id] [int] NOT NULL,
	[FavoriteUsers_Id] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteTag] PRIMARY KEY CLUSTERED 
(
	[FavoriteTags_Id] ASC,
	[FavoriteUsers_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_FavoriteTag_User] ON [dbo].[FavoriteTag] 
(
	[FavoriteUsers_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EditedLogs]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EditedLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_EditedLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_EditedContentPost] ON [dbo].[EditedLogs] 
(
	[PostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_EditedContentUser] ON [dbo].[EditedLogs] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagMainPost]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagMainPost](
	[Tags_Id] [int] NOT NULL,
	[MainPosts_Id] [int] NOT NULL,
 CONSTRAINT [PK_TagMainPost] PRIMARY KEY CLUSTERED 
(
	[Tags_Id] ASC,
	[MainPosts_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_TagMainPost_MainPost] ON [dbo].[TagMainPost] 
(
	[MainPosts_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts_Question]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts_Question](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Posts_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookmarkMainPost]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookmarkMainPost](
	[BookmarkUsers_Id] [int] NOT NULL,
	[Bookmarks_Id] [int] NOT NULL,
 CONSTRAINT [PK_BookmarkMainPost] PRIMARY KEY CLUSTERED 
(
	[BookmarkUsers_Id] ASC,
	[Bookmarks_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_BookmarkMainPost_MainPost] ON [dbo].[BookmarkMainPost] 
(
	[Bookmarks_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts_Discussion]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts_Discussion](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Posts_Discussion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitations]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvitedDate] [nvarchar](max) NOT NULL,
	[MainPostId] [int] NOT NULL,
	[InviterId] [int] NOT NULL,
	[InviteeId] [int] NOT NULL,
 CONSTRAINT [PK_Invitations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_InvitationMainPost] ON [dbo].[Invitations] 
(
	[MainPostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_InvitedUser] ON [dbo].[Invitations] 
(
	[InviteeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_InviteUser] ON [dbo].[Invitations] 
(
	[InviterId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowMainPost]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowMainPost](
	[FollowUsers_Id] [int] NOT NULL,
	[FollowPosts_Id] [int] NOT NULL,
 CONSTRAINT [PK_FollowMainPost] PRIMARY KEY CLUSTERED 
(
	[FollowUsers_Id] ASC,
	[FollowPosts_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_FollowMainPost_MainPost] ON [dbo].[FollowMainPost] 
(
	[FollowPosts_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShareMainPost]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShareMainPost](
	[Sharers_Id] [int] NOT NULL,
	[SharedMainPosts_Id] [int] NOT NULL,
 CONSTRAINT [PK_ShareMainPost] PRIMARY KEY CLUSTERED 
(
	[Sharers_Id] ASC,
	[SharedMainPosts_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_ShareMainPost_MainPost] ON [dbo].[ShareMainPost] 
(
	[SharedMainPosts_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts_Article]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts_Article](
	[GroupId] [int] NOT NULL,
	[PublicDate] [datetime] NULL,
	[SeriesId] [int] NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Posts_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_GroupArticle] ON [dbo].[Posts_Article] 
(
	[GroupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_SeriesArticle] ON [dbo].[Posts_Article] 
(
	[SeriesId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts_Answer]    Script Date: 06/10/2015 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts_Answer](
	[QuestionId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Accepted] [bit] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Posts_Answer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_QuestionAnswer] ON [dbo].[Posts_Answer] 
(
	[QuestionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_SeriesGroup]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Series]  WITH CHECK ADD  CONSTRAINT [FK_SeriesGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Series] CHECK CONSTRAINT [FK_SeriesGroup]
GO
/****** Object:  ForeignKey [FK_BannerImage]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Banners]  WITH CHECK ADD  CONSTRAINT [FK_BannerImage] FOREIGN KEY([Image_Id])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Banners] CHECK CONSTRAINT [FK_BannerImage]
GO
/****** Object:  ForeignKey [FK_AdvertisementImage]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_AdvertisementImage] FOREIGN KEY([Image_Id])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_AdvertisementImage]
GO
/****** Object:  ForeignKey [FK_PrivilegeFunction]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Functions]  WITH CHECK ADD  CONSTRAINT [FK_PrivilegeFunction] FOREIGN KEY([Privilege_Id])
REFERENCES [dbo].[Privileges] ([Id])
GO
ALTER TABLE [dbo].[Functions] CHECK CONSTRAINT [FK_PrivilegeFunction]
GO
/****** Object:  ForeignKey [FK_ImageUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_ImageUser] FOREIGN KEY([Avatar_Id])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_ImageUser]
GO
/****** Object:  ForeignKey [FK_RequestFriend]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[UserFriendships]  WITH CHECK ADD  CONSTRAINT [FK_RequestFriend] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFriendships] CHECK CONSTRAINT [FK_RequestFriend]
GO
/****** Object:  ForeignKey [FK_CreateTag]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [FK_CreateTag] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [FK_CreateTag]
GO
/****** Object:  ForeignKey [FK_PrivacySettingUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[PrivacySettings]  WITH CHECK ADD  CONSTRAINT [FK_PrivacySettingUser] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrivacySettings] CHECK CONSTRAINT [FK_PrivacySettingUser]
GO
/****** Object:  ForeignKey [FK_Follow_Followee]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Followee] FOREIGN KEY([Followers_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Followee]
GO
/****** Object:  ForeignKey [FK_Follow_Follower]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Follower] FOREIGN KEY([Followees_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Follower]
GO
/****** Object:  ForeignKey [FK_ProfileUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [FK_ProfileUser] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_ProfileUser]
GO
/****** Object:  ForeignKey [FK_ProfileHistoryUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[ProfileHistories]  WITH CHECK ADD  CONSTRAINT [FK_ProfileHistoryUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileHistories] CHECK CONSTRAINT [FK_ProfileHistoryUser]
GO
/****** Object:  ForeignKey [FK_PrivilegeUser_Privilege]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[PrivilegeUser]  WITH CHECK ADD  CONSTRAINT [FK_PrivilegeUser_Privilege] FOREIGN KEY([Privileges_Id])
REFERENCES [dbo].[Privileges] ([Id])
GO
ALTER TABLE [dbo].[PrivilegeUser] CHECK CONSTRAINT [FK_PrivilegeUser_Privilege]
GO
/****** Object:  ForeignKey [FK_PrivilegeUser_User]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[PrivilegeUser]  WITH CHECK ADD  CONSTRAINT [FK_PrivilegeUser_User] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PrivilegeUser] CHECK CONSTRAINT [FK_PrivilegeUser_User]
GO
/****** Object:  ForeignKey [FK_PostUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_PostUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_PostUser]
GO
/****** Object:  ForeignKey [FK_ParticipationGroup]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Participations]  WITH CHECK ADD  CONSTRAINT [FK_ParticipationGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Participations] CHECK CONSTRAINT [FK_ParticipationGroup]
GO
/****** Object:  ForeignKey [FK_ParticipationUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Participations]  WITH CHECK ADD  CONSTRAINT [FK_ParticipationUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Participations] CHECK CONSTRAINT [FK_ParticipationUser]
GO
/****** Object:  ForeignKey [FK_NotificationUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_NotificationUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_NotificationUser]
GO
/****** Object:  ForeignKey [FK_FunctionRole_Function]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[FunctionRole]  WITH CHECK ADD  CONSTRAINT [FK_FunctionRole_Function] FOREIGN KEY([Functions_Id])
REFERENCES [dbo].[Functions] ([Id])
GO
ALTER TABLE [dbo].[FunctionRole] CHECK CONSTRAINT [FK_FunctionRole_Function]
GO
/****** Object:  ForeignKey [FK_FunctionRole_Role]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[FunctionRole]  WITH CHECK ADD  CONSTRAINT [FK_FunctionRole_Role] FOREIGN KEY([Roles_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[FunctionRole] CHECK CONSTRAINT [FK_FunctionRole_Role]
GO
/****** Object:  ForeignKey [FK_AttendanceConversation]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceConversation] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_AttendanceConversation]
GO
/****** Object:  ForeignKey [FK_AttendanceUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_AttendanceUser]
GO
/****** Object:  ForeignKey [FK_AssessmentRole]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_AssessmentRole]
GO
/****** Object:  ForeignKey [FK_AssessmentUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_AssessmentUser]
GO
/****** Object:  ForeignKey [FK_UserActivity]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivity] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_UserActivity]
GO
/****** Object:  ForeignKey [FK_BanAccountUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[BanAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BanAccountUser] FOREIGN KEY([BannedUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanAccounts] CHECK CONSTRAINT [FK_BanAccountUser]
GO
/****** Object:  ForeignKey [FK_UserBanAccount]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[BanAccounts]  WITH CHECK ADD  CONSTRAINT [FK_UserBanAccount] FOREIGN KEY([BanUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BanAccounts] CHECK CONSTRAINT [FK_UserBanAccount]
GO
/****** Object:  ForeignKey [FK_SubscribeGroup_Group]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[SubscribeGroup]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeGroup_Group] FOREIGN KEY([SubscribedGroups_Id])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[SubscribeGroup] CHECK CONSTRAINT [FK_SubscribeGroup_Group]
GO
/****** Object:  ForeignKey [FK_SubscribeGroup_User]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[SubscribeGroup]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeGroup_User] FOREIGN KEY([Subscribers_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SubscribeGroup] CHECK CONSTRAINT [FK_SubscribeGroup_User]
GO
/****** Object:  ForeignKey [FK_CommentPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Comment]  WITH CHECK ADD  CONSTRAINT [FK_CommentPost] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts_Comment] CHECK CONSTRAINT [FK_CommentPost]
GO
/****** Object:  ForeignKey [FK_VotePost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_VotePost] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_VotePost]
GO
/****** Object:  ForeignKey [FK_VoteUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_VoteUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_VoteUser]
GO
/****** Object:  ForeignKey [FK_BanAccountBanReason_BanAccount]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[BanAccountBanReason]  WITH CHECK ADD  CONSTRAINT [FK_BanAccountBanReason_BanAccount] FOREIGN KEY([BanAccounts_Id])
REFERENCES [dbo].[BanAccounts] ([Id])
GO
ALTER TABLE [dbo].[BanAccountBanReason] CHECK CONSTRAINT [FK_BanAccountBanReason_BanAccount]
GO
/****** Object:  ForeignKey [FK_BanAccountBanReason_BanReason]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[BanAccountBanReason]  WITH CHECK ADD  CONSTRAINT [FK_BanAccountBanReason_BanReason] FOREIGN KEY([BanReasons_Id])
REFERENCES [dbo].[BanReasons] ([Id])
GO
ALTER TABLE [dbo].[BanAccountBanReason] CHECK CONSTRAINT [FK_BanAccountBanReason_BanReason]
GO
/****** Object:  ForeignKey [FK_MessageAttendance]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_MessageAttendance] FOREIGN KEY([AttendanceId])
REFERENCES [dbo].[Attendances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_MessageAttendance]
GO
/****** Object:  ForeignKey [FK_LocationProfile]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_LocationProfile] FOREIGN KEY([Profile_Id])
REFERENCES [dbo].[Profiles] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_LocationProfile]
GO
/****** Object:  ForeignKey [FK_MainPost_inherits_Post]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_MainPost]  WITH CHECK ADD  CONSTRAINT [FK_MainPost_inherits_Post] FOREIGN KEY([Id])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts_MainPost] CHECK CONSTRAINT [FK_MainPost_inherits_Post]
GO
/****** Object:  ForeignKey [FK_ReportPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_ReportPost] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_ReportPost]
GO
/****** Object:  ForeignKey [FK_ReportUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_ReportUser] FOREIGN KEY([ReporterId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_ReportUser]
GO
/****** Object:  ForeignKey [FK_FavoriteTag_Tag]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[FavoriteTag]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteTag_Tag] FOREIGN KEY([FavoriteTags_Id])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[FavoriteTag] CHECK CONSTRAINT [FK_FavoriteTag_Tag]
GO
/****** Object:  ForeignKey [FK_FavoriteTag_User]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[FavoriteTag]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteTag_User] FOREIGN KEY([FavoriteUsers_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FavoriteTag] CHECK CONSTRAINT [FK_FavoriteTag_User]
GO
/****** Object:  ForeignKey [FK_EditedContentPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[EditedLogs]  WITH CHECK ADD  CONSTRAINT [FK_EditedContentPost] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EditedLogs] CHECK CONSTRAINT [FK_EditedContentPost]
GO
/****** Object:  ForeignKey [FK_EditedContentUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[EditedLogs]  WITH CHECK ADD  CONSTRAINT [FK_EditedContentUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[EditedLogs] CHECK CONSTRAINT [FK_EditedContentUser]
GO
/****** Object:  ForeignKey [FK_TagMainPost_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[TagMainPost]  WITH CHECK ADD  CONSTRAINT [FK_TagMainPost_MainPost] FOREIGN KEY([MainPosts_Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
GO
ALTER TABLE [dbo].[TagMainPost] CHECK CONSTRAINT [FK_TagMainPost_MainPost]
GO
/****** Object:  ForeignKey [FK_TagMainPost_Tag]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[TagMainPost]  WITH CHECK ADD  CONSTRAINT [FK_TagMainPost_Tag] FOREIGN KEY([Tags_Id])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[TagMainPost] CHECK CONSTRAINT [FK_TagMainPost_Tag]
GO
/****** Object:  ForeignKey [FK_Question_inherits_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_inherits_MainPost] FOREIGN KEY([Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts_Question] CHECK CONSTRAINT [FK_Question_inherits_MainPost]
GO
/****** Object:  ForeignKey [FK_BookmarkMainPost_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[BookmarkMainPost]  WITH CHECK ADD  CONSTRAINT [FK_BookmarkMainPost_MainPost] FOREIGN KEY([Bookmarks_Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
GO
ALTER TABLE [dbo].[BookmarkMainPost] CHECK CONSTRAINT [FK_BookmarkMainPost_MainPost]
GO
/****** Object:  ForeignKey [FK_BookmarkMainPost_User]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[BookmarkMainPost]  WITH CHECK ADD  CONSTRAINT [FK_BookmarkMainPost_User] FOREIGN KEY([BookmarkUsers_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BookmarkMainPost] CHECK CONSTRAINT [FK_BookmarkMainPost_User]
GO
/****** Object:  ForeignKey [FK_Discussion_inherits_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Discussion]  WITH CHECK ADD  CONSTRAINT [FK_Discussion_inherits_MainPost] FOREIGN KEY([Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts_Discussion] CHECK CONSTRAINT [FK_Discussion_inherits_MainPost]
GO
/****** Object:  ForeignKey [FK_InvitationMainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_InvitationMainPost] FOREIGN KEY([MainPostId])
REFERENCES [dbo].[Posts_MainPost] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_InvitationMainPost]
GO
/****** Object:  ForeignKey [FK_InvitedUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_InvitedUser] FOREIGN KEY([InviteeId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_InvitedUser]
GO
/****** Object:  ForeignKey [FK_InviteUser]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_InviteUser] FOREIGN KEY([InviterId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_InviteUser]
GO
/****** Object:  ForeignKey [FK_FollowMainPost_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[FollowMainPost]  WITH CHECK ADD  CONSTRAINT [FK_FollowMainPost_MainPost] FOREIGN KEY([FollowPosts_Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
GO
ALTER TABLE [dbo].[FollowMainPost] CHECK CONSTRAINT [FK_FollowMainPost_MainPost]
GO
/****** Object:  ForeignKey [FK_FollowMainPost_User]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[FollowMainPost]  WITH CHECK ADD  CONSTRAINT [FK_FollowMainPost_User] FOREIGN KEY([FollowUsers_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FollowMainPost] CHECK CONSTRAINT [FK_FollowMainPost_User]
GO
/****** Object:  ForeignKey [FK_ShareMainPost_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[ShareMainPost]  WITH CHECK ADD  CONSTRAINT [FK_ShareMainPost_MainPost] FOREIGN KEY([SharedMainPosts_Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
GO
ALTER TABLE [dbo].[ShareMainPost] CHECK CONSTRAINT [FK_ShareMainPost_MainPost]
GO
/****** Object:  ForeignKey [FK_ShareMainPost_User]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[ShareMainPost]  WITH CHECK ADD  CONSTRAINT [FK_ShareMainPost_User] FOREIGN KEY([Sharers_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ShareMainPost] CHECK CONSTRAINT [FK_ShareMainPost_User]
GO
/****** Object:  ForeignKey [FK_Article_inherits_MainPost]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_inherits_MainPost] FOREIGN KEY([Id])
REFERENCES [dbo].[Posts_MainPost] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts_Article] CHECK CONSTRAINT [FK_Article_inherits_MainPost]
GO
/****** Object:  ForeignKey [FK_GroupArticle]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Article]  WITH CHECK ADD  CONSTRAINT [FK_GroupArticle] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Posts_Article] CHECK CONSTRAINT [FK_GroupArticle]
GO
/****** Object:  ForeignKey [FK_SeriesArticle]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Article]  WITH CHECK ADD  CONSTRAINT [FK_SeriesArticle] FOREIGN KEY([SeriesId])
REFERENCES [dbo].[Series] ([Id])
GO
ALTER TABLE [dbo].[Posts_Article] CHECK CONSTRAINT [FK_SeriesArticle]
GO
/****** Object:  ForeignKey [FK_QuestionAnswer]    Script Date: 06/10/2015 10:54:28 ******/
ALTER TABLE [dbo].[Posts_Answer]  WITH CHECK ADD  CONSTRAINT [FK_QuestionAnswer] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Posts_Question] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts_Answer] CHECK CONSTRAINT [FK_QuestionAnswer]
GO
