@using CP_MathHub.Models.Blog
@model ICollection<ArticlePreviewViewModel>

<h3>Bài viết <span style="color: red; font-weight: bold;">HOT</span></h3>
<div class="mh-slideshow">
    <div class="mh-slideshow-body">
        <nav class="slidernav">
            <div id="navbtns" class="clearfix">
                <a href="#" class="previous">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="#" class="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </nav>

        <div class="crsl-items" data-navigation="navbtns">
            <div class="crsl-wrap">
                @for (int i = 0; i < Model.Count; i++ )
                {
                        @Html.Partial("Partials/_ArticleGridPreviewPartialView", Model.ElementAt(i), new ViewDataDictionary { { "Class", "crsl-item mh-slideshow-contents  " + (i == 0 ? "crsl-active" : "") } });
                    
                }
            </div>
        </div>
    </div>
</div>

