<div class="mh-home">
    <div class="row">
        <div class="col-xs-12 col-md-7 mh-home-tab">
            <a href="@Url.Action("Index", new { @tab = "Home" })" class="btn btn-primary btn-sm @(ViewBag.Tab == "Home" ? "active" : "")">
                <i class="fa fa-home mh-home-button"></i>
            </a>          
            <a class="btn btn-primary btn-sm">Subcribe Blog</a>
            <a class="btn btn-primary btn-sm">Bài viết yêu thích</a>
            <a class="btn btn-primary btn-sm">Bài viết bạn bè</a>
            <a class="btn btn-success btn-sm hidden-md hidden-lg">Tạo bài viết</a>
        </div>
        <div class="col-xs-12 col-md-5 mh-page-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="height: 34px;">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

