@model CP_MathHub.Models.Blog.ArticleDetailViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MhPage = "blog-detail";
    ViewBag.CreatedDateType = "đăng";
    Layout = "~/Views/Blog/Layouts/_BlogDetailLayout.cshtml";
}

<div class="mh-top-content">
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-3 mh-content-title-1">
            <h3></h3>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-9 mh-content-title">
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="fa fa-users mh-home-button"></i>
                Bài viết cộng đồng
            </a>
            <a href="@Url.Action("MyBlog")" class="btn btn-default">
                <i class="fa fa-user mh-home-button"></i>
                Bài viết của tôi
            </a>
        </div>
    </div>
</div>

@Html.Partial("Partials/_NavPartialView", new ViewDataDictionary { { "Type", "user" } })

<div class="mh-show-detail-contents">
    <div class="mh-show-detail-content">
        <div>
            <div class="row">
                <div class="col-xs-9 col-sm-10 title">
                    <a href="">Blaise Pascal (19/6/1623)</a>
                    <i class="fa fa-star-o mh-bookmark-icon" title="Đánh dấu bài này"></i>
                </div>
                <div class="col-xs-3 col-sm-2 mh-blog-setting">
                    <ul class="navbar-nav navbar-right" title="Chỉnh sửa">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-angle-down mh-post-setting"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="">Báo cáo vi phạm</a></li>
                                <li><a href="">Chỉnh sửa bài viết</a></li>
                                <li><a href="">Đóng bài viết</a></li>
                                <li><a href="">Xóa bài viết</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mh-blog-user">
                <div class="row mh-row-time">
                    <span>đăng vào ngày 18 tháng 6 năm 2015 lúc 16:30</span>
                </div>
                <div class="mh-row-info">
                    <a href="#">
                        <img src="img/user.jpg" class="mh-user-icon">
                    </a>
                    <a href="#">
                        <span>HaiNNT</span>
                    </a>
                    -
                    <span>612</span>
                    <i class="fa fa-circle mh-reputation-icon"></i>
                </div>
            </div>
            <div class="content">
                Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi.Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi.
                <br />
                Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi. Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi.Suspendisse laoreet eu tortor vel dapibus. Etiam auctor nisl mattis, ornare nibh eu, lobortis leo. Sed congue mi.
            </div>
        </div>
        <div class="row  blog-footer">
            <div class="col-xs-12 col-md-5">
                <a href="" title="Lượt xem">
                    <i class="fa fa-eye"></i>
                    171412
                </a>
                <a target="_blank" title="Chia sẻ facebook" href="http://www.facebook.com/sharer.php?u=file:///D:/Capstone/CP-MathHub/code/frontend/MathHub/detail.html">
                    <img src="img/social_fb_s.png" class="mh-share-facebook mh-share-facebook-button" alt="Chia sẻ facebook" />
                    <div class="mh-share-facebook">
                        <div class="pluginCountButton pluginCountNum">
                            <span class="pluginCountTextConnected">123</span>
                            <span class="pluginCountTextDisconnected">123</span>
                        </div>
                        <div class="pluginCountButtonNub">
                            <s></s>
                            <i></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-7 mh-blog-tags">
                <ul class="list-inline">
                    <li>
                        <a href="#" class="mh-tag">
                            <i class="fa fa-circle"></i>
                            <label>Lớp 6</label>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="mh-tag">
                            <i class="fa fa-circle"></i>
                            <label>Toán đố</label>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="mh-tag">
                            <i class="fa fa-circle"></i>
                            <label>Toán dễ</label>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="mh-tag">
                            <i class="fa fa-circle"></i>
                            <label>Toán khó</label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <a href="">Thích</a>
            -
            <a href="">Bình luận</a>
            -
            <a href="" title="Lượt thích" class="mh-comment-like">
                <i class="fa fa-thumbs-o-up"></i>
                17141
            </a>
            -
            <a href="" title="Lượt bình luận" class="mh-comment-like">
                <i class="fa fa-comment"></i>
                300
            </a>
        </div>
        
    </div>
</div>



